.list{
    color: white;
    width: 380px;
    height: 30px;
}

.list p{
    position: relative;
}

.list p input{
    background-color: transparent;
    border:0;
    color:white;
    outline:none;
}

.faicons,.faiconsEdit, .faiconsCheck{
    color: white;
}
.faicons:hover, .faiconsEdit:hover, .faiconsCheck:hover{
    color: rgb(241, 58, 58);
}
.faicons{
    position: absolute;
    right:0px;
}
.faiconsEdit{
    right:25px;
    position: absolute;
}
.faiconsCheck{
    position: absolute;
    right: 55px;
}
